/*FOOTER*/
.footer {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: #0e0036;
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    .box-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 40px;
      .terms {
        max-width: 350px;
        margin-top: 5px;
        color: white;
        justify-content: center;
      }
      .logo {
        justify-content: center;
        margin-top: 10px;
      }
      h2 {
        color: #cb0d3d;
      }
      h1 {
        color: #cb0d3d;
      }
      hr {
        border: none;
        height: 1px;
        background-color: white;
      }
      a {
        margin-top: 5px;
        color: #ffffff;
      }
      a:hover {
        opacity: 0.8;
        color: #cb0d3d;
      }
      a .fa-brands {
        font-size: 20px;
      }
      i {
        padding-right: 3px;
      }
    }
  }
  .box-copyright {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    p {
      margin-top: 10px;
      color: white;
    }
    hr {
      border: none;
      height: 1px;
      background-color: white;
    }
  }
}
