$fonts: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
);
@each $clave, $valor in $fonts {
  .font-#{$clave} {
    font-weight: $valor;
  }
}

$headings: (
  h1: 1.8rem,
  h2: 1.75rem,
  h3: 1.5rem,
  h4: 0.8rem,
  p: 12px,
  pM: 20px,
  pXL: 22px,
);

@each $heading, $size in $headings {
  .font-#{$heading} {
    font-size: $size;
  }
}
