@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*BODY*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}
ul {
  color: white;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #2900a0b5;
}
.navbar {
  // @include caja-flex(space-between, center, wrap);
  ul {
    display: flex;
    a {
      padding: 10px;
      text-align: center;
      margin-right: 10px;
    }
    a:hover {
      transition: all 0.5s;
      transform: scale(1.2);
    }
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

/*HEADER*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  border-top: 8px solid #cb0d3d;
  width: 100%;
}

/*FOOTER*/
.footer {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: #0e0036;
}
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.box-footer .terms {
  max-width: 350px;
  margin-top: 5px;
  color: white;
  justify-content: center;
}
.logo {
  justify-content: center;
  margin-top: 10px;
}
.box-footer h2 {
  margin-bottom: 0px;
  color: #cb0d3d;
}
.box-footer h1 {
  margin-bottom: 0px;
  color: #cb0d3d;
}
.box-footer hr {
  border: none;
  height: 1px;
  background-color: white;
}
.box-footer a {
  margin-top: 5px;
  color: #ffffff;
}
.box-footer a:hover {
  opacity: 0.8;
}
.box-footer a .fa-brands {
  font-size: 20px;
}
.box-footer i {
  padding-right: 3px;
}
.box-copyright {
  max-width: 1300px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box-copyright p {
  margin-top: 10px;
  color: white;
}
.box-copyright hr {
  border: none;
  height: 1px;
  background-color: white;
}

/*MIXIN*/
// @mixin caja-flex($principal, $horizontal, $wrap) {
//   display: flex;
//   justify-content: $principal;
//   align-items: $horizontal;
//   flex-wrap: $wrap;
// }

/*EXTENDED*/
.btn-1 {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: #cb0d3d;
}
.btn {
  @extend .btn-1;
}

/*BACKGROUND COLORS*/
.bg-color1 {
  background-color: #0e0036;
}
.bg-color2 {
  background-color: #2900a0b5;
}
.bg-color3 {
  background-color: #6b6a6a05;
}
.bg-color4 {
  background-color: #2800a054;
}
.bg-color5 {
  background-color: #cb0d3d;
}
.bg-separador {
  overflow: hidden;
  height: 250px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  color: rgb(255, 255, 255);
  background: rgb(17, 0, 66);
  background: linear-gradient(
    166deg,
    rgba(17, 0, 66, 1) 36%,
    rgba(0, 0, 0, 1) 92%
  );

  .container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    span {
      color: #cb0d3d;
    }
    h2 {
      font-size: 1.8rem;
    }
    p {
      margin-top: 14px;
    }
  }
}
.animacion-hover:hover {
  transition: all 0.6s;
  transform: translateY(-10px);
  box-shadow: 0px 0px 25px #666;
  cursor: pointer;
}
