/*HEADER*/
#header {
  position: relative;
  overflow: hidden;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-top: 6px solid #cb0d3d;
  width: 100%;
  .navbar {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    ul {
      padding-top: 10px;
      display: flex;
      a {
        padding: 10px;
        text-align: center;
        margin-right: 10px;
      }
      a:hover {
        transition: all 0.5s;
        transform: scale(1.2);
      }
    }
    .logo img {
      max-width: 90%;
    }
  }
  /*NAVBAR*/
  .navbar-toggler {
    padding: 0.3rem 0.45rem;
    font-size: 1.8rem;
    transition: box-shadow 0.8s ease-in-out;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url(../assets/img-navbar/icon-burger.png);
  }
  .navbar-dark .navbar-toggler {
    color: rgba(250, 250, 250, 0.538);
    border-color: #0e0036;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
  }
}
