@media all and (min-width: 768px) {
  .mySlide {
    .carousel-control-next,
    .carousel-control-prev {
      display: flex;
      height: 40px;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      z-index: 3;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    .carousel-control-next {
      right: 30px;
    }
    .carousel-control-prev {
      left: 30px;
    }
  }
}
// /*MEDIA QUERIE PANTALLA LG*/

@media all and (min-width: 992px) {
  .mySlide {
    .carousel-control-next,
    .carousel-control-prev {
      height: 50px;
      width: 50px;
    }
    .carousel-item h1 {
      font-size: 3rem;
    }
    .carousel-item p {
      font-size: 25px;
    }
    .carousel-control-next {
      right: 50px;
    }
    .carousel-control-prev {
      left: 50px;
    }
  }
  .navbar-nav {
    position: absolute;
    right: 0px;
    ul {
      display: flex;
      right: 0px;
      a {
        padding: 10px;
        font-size: 5rem;
      }
    }
    #navbarSupportedContent {
      position: relative;
    }
  }
  .btn-1 {
    font-size: 1.2rem;
  }
  .redesContacto {
    h3 {
      font-size: 1.8rem;
    }
    a {
      font-size: 1.5rem;
    }
  }
  .footer {
    .container-footer {
      justify-content: none;
    }

    .box-footer {
      align-items: none;
    }

    .box-footer .terms {
      text-align: none;
    }
  }
}
/*MEDIA QUERIE PANTALLA XL*/

@media all and (min-width: 1200px) {
  .mySlide {
    .carousel-control-next,
    .carousel-control-prev {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    .carousel-item h1 {
      font-size: 3.5rem;
    }
    .carousel-item p {
      font-size: 30px;
    }
    .carousel-control-next {
      right: 80px;
    }
    .carousel-control-prev {
      left: 80px;
    }
  }
  .tituloSeparador h2 {
    font-size: 3rem;
  }
  .titulosHome {
    font-size: 2rem;
  }
  .bloqueExcursion {
    .imgExcursion1 {
      justify-content: start;
    }
    .imgExcursion2 {
      justify-content: end;
    }
  }
  .card-title {
    font-size: 1.5rem;
  }
  .precioDestino {
    font-size: 25px;
  }
}

/*MEDIA QUERIE PANTALLA XXL*/

@media all and (min-width: 1400px) {
  .mySlide {
    .carousel-control-next,
    .carousel-control-prev {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    .carousel-item h1 {
      font-size: 4rem;
    }
    .carousel-item p {
      font-size: 35px;
    }
    .carousel-control-next {
      right: 100px;
    }
    .carousel-control-prev {
      left: 100px;
    }
  }
  .bloqueExcursion {
    .imgExcursion1 {
      justify-content: cen0er;
      left: 0px;
    }
    .imgExcursion2 {
      justify-content: cen0er;
      right: 0px;
    }
  }
  #videoExcursion {
    height: 750px;
    .container {
      h1 {
        font-size: 4rem;
      }
    }
  }
  #bannerContacto {
    .container {
      h1 {
        font-size: 4rem;
      }
    }
  }
  .bg-separador {
    margin-left: 70px;
    margin-right: 70px;
    .container {
      h2 {
        font-size: 2.7rem;
      }
      p {
        font-size: 27px;
      }
    }
  }
}
